app:
  port: 8080
  debug: true

crypt:
  cost: 10

hashids:
  length: 10
  salt: this is my salt

auth:
  header: X-Auth-Token
  token: foo
  enabled: true

logger:
  mattermost:
    webhook_url: https://mattermost-webhhok-url
    user_name: golang-api-skeleton

database:
  host: 127.0.0.1
  port: 5427
  name: example_db
  user: example_user
  password: 12345
  max_connections: 10
  max_idle_connections: 10
  ssl_mode: disable